.main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    
}
.data-container {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    
}
.data-container img {
    width: 200px;
    height: 250px;
    position: relative;
    left: 25%;
    border-radius: 50%;
}
.data-pics:hover {
    opacity: 0.7;
}
p {
    font-size: 26px;
    position: relative;
    text-align: center;
    color: blueviolet;
}

.text-container {
    /* position: relative; */
    position: relative;
    top: 0;
    background-color: beige;
    padding: 50px;

}
.pop_up_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 15%;
}

.pop_up_body {
    width: 70%;
    height: 70%;
    background-color: #fff;
    margin: auto;
}

.pop_up_header{
    width: 100%;
    text-align: right;
}